.ahorcado-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #1e88e5;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.imagen-ahorcado img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.palabra {
  font-size: 2rem;
  letter-spacing: 1.5rem;
  color: #424242;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.letras-incorrectas p,
.intentos p {
  font-size: 1.2rem;
  margin-top: 5px;
}

.intentos p {
  color: #43a047;
}

.letras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.letras button {
  padding: 8px 10px;
  background-color: #43a047;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
  font-size: 1.1rem;
  flex: 1 0 15%;
  max-width: 40px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.letras button:hover {
  background-color: #388e3c;
  transform: scale(1.1);
}

.letras button:disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
}

.mensaje-final {
  display: none;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #f44336;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.mensaje-final button {
  padding: 8px 15px;
  background-color: #43a047;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.mostrar {
  display: block;
  opacity: 1;
}

.mensaje-final button:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  .imagen-ahorcado img {
    max-width: 150px;
  }
  .letras button {
    font-size: 1rem;
    max-width: 35px;
  }
  .mensaje-final {
    font-size: 1.2rem;
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 30, 30, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fffbe7;
  padding: 40px 30px 30px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  text-align: center;
  min-width: 300px;
  font-size: 1.5rem;
  color: #8f7a66;
  animation: fadeInModal 0.3s;
}

.modal-content button {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 1.1rem;
  background-color: #43a047;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.modal-content button:hover {
  background-color: #388e3c;
}

@keyframes fadeInModal {
  from { opacity: 0; transform: scale(0.9);}
  to { opacity: 1; transform: scale(1);}
}